# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Grasped a high level overview on various tools used in Data Science domain like R, Jupyter, Github etc.
* Hands on Labs provided an additional advantage to grasp the content.
* Learned the basics of R and its installation.
* Got an hands on experience to use github branches and version control.

Some of the popular languages that Data Scientists use are:

1. Python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
1. Pandas
1. Matplotlib

| Data Science Tools |
| :----------------: |
| Jupyter Notebooks  |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=round((minutes/60),2)
print(hours)

3.33

## Author
Anish